<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
<h1>Online Education Review</h1>
</head>
<body>

<div class="topnav">
  <a class="active" href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('dashboard')}}">Dashboard</a>
  <a href="{{url_for('story')}}">Story</a>
  <a href="{{url_for('report')}}">Report</a>
</div>

<div style="padding-left:16px">
  <h2> Overview</h2>
  <p>Education is a crucial factor in the upliftment of a society. Education should be reachable to all to benefit the society. 
    Online education system helps in attaining the reachability by providing a study from your place environment at a pace comfortable to the learner. 
    It also fosters continuous learning environment whereby people can upgrade their qualifications, skillsets while working. 
    When imparted effectively it could become a game changer in the education scenario. We could also see its reach when people were made to be in house during the lockdown imposed due to the corona outbreak. 
    It facilitated the continuity of the education of the children from their home. This showcased to the world how online education system catered to the continuity of the education at adverse times.</p>
   
  <h2> Purpose</h2>
  <p>This project will help us in better understanding the system and come with strategies and mechanisms that could improve the effectiveness of the online educational system. 
    The results of this review can provide insights at various levels and could guide and support the various stakeholders such as Govt. bodies to formulate suitable policies for the support of online education, 
    educators to define strategies to improve the system and edutech companies to come with suitable design to improve the delivery, 
    reach and effectiveness of online education.</p>
  
</div>

</body>
</html>