<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
<h1>Online Education Review</h1>
</head>
<body>

<div class="topnav">
  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('dashboard')}}">Dashboard</a>
  <a class="active" href="{{url_for('story')}}">Story</a>
  <a href="{{url_for('report')}}">Report</a>
</div>

<div style="padding-left:16px">
    <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Freview1%2FOnline_edu_rev_story_filters&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018a4f6f6d66_00000002&amp;sceneTime=0" width="1300" height="1000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</div>

</body>
</html>